
.card * {
    background-color: var(--secondary-color) !important;
}

.card {
    border-radius: 1.5rem;
    /* box-shadow: 0px 8px 56px rgb(15 80 100 / 16%); */
    border: 2px solid var(--text-secondary-color) !important;
    transition: box-shadow .2s linear,opacity .2s linear;
    transition: transform 0.2s;
}

.card .card-body {
    border-radius: 1.5rem;
    padding: 2rem;
}

@media all and (max-width:768px) {
    .card .card-body {
        padding: 2rem 1rem;
    }
}

.card:hover {
    transition: 0.3s;
    box-shadow: 0 4px 11px rgb(15 80 100 / 16%);
    border: 2px solid var(--primary-color) !important;
}

.card .card-body .education-content a {
    color: var(--text-link-color) !important;
    text-decoration: none;
    opacity: 0.9;
}

.card .card-body > a h6 {
    display: inline-block;
    text-decoration: none;
    color: var(--text-link-color) !important;
}

.card .card-body > a h6::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    bottom: 0.37em;
    background-color: var(--primary-color);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    opacity: 0.5;
}

.card .card-body > a h6:hover::after, .card .card-body > a h6:focus::after, .card .card-body > a h6:active::after {
    width: 100%;
}

.card .card-body a.btn {
    opacity: 0.9;
    border: 1px solid var(--primary-color) !important;
    color: var(--text-color) !important;
    border-radius: .75rem;
    box-shadow: none;
    transition: none;
}

.card .card-body a.btn:hover {
    opacity: 0.8;
}